@media(max-width: 1380px) {
  .fall_deeper__image img{
    position: none;
    right: 0px;
}
}
@media(max-width: 1266px) {
    .fall_deeper__text{
        padding: 0px 10px;
    }
    .head__container{
        padding: 16px 10px;
    }
    .fall_deeper__image{
        padding-top: 10px;
        margin: auto;
    }
    .footer__container{
      padding-left: 10px;
      padding-right: 10px;
    }
}
@media(max-width: 1100px){
  .best_sellers__items{
    flex-direction: column;
  }
  .best_sellers__item img{
    margin-bottom: 17px;
}
}

@media(max-width: 1000px) {
    .fall_deeper__container{
        flex-direction: column;
    }
    .people_society__container {
      justify-content: center;
  }
}
@media(max-width: 900px){
.thalby_guides__items{
  flex-direction: column;
  align-items: center;
}
}

@media(max-width: 750px) {
  .fall_deeper__image img{
    width: 100%;
}
    .icon_container{
        z-index: 3;
    }
    .logo{
        z-index: 3;
    }
    .menuToggle
    {
      display: block;
      position: relative;
      top: 3px;
      left: 20px;
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    .menuToggle a
    {
      text-decoration: none;
      color: #232323;
      
      transition: color 0.3s ease;
    }
        
   .menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    .menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: #000;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    .menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    .menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    .menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * But let's hide the middle one.
     */
    .menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    .menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    .menu
    {
      display: block;
      position: absolute;
      width: 450px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #fff;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    .menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's slide it in from the left
     */
    .menuToggle input:checked ~ ul
    {
      transform: none;
    }
    .fall_deeper__image{
        padding-top: 10px;
        margin: auto;
    }
    .logo_and_social_items__social ul{
      display: flex;
      gap: 20px;
  }
  .about_contact__container {
      display: flex;
  
  }
  h5 {

  font-size: 12px;
  margin-bottom: 26px;
  }
  footer li{
  font-size: 10px;
  }
  .about_contact__about li:not(:last-child){
      margin-bottom: 8px;
  }
  .about_contact__about li:last-child{
      margin-bottom: 15px;
  }
  .about_contact__contact li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer_year p{
  font-size: 10px;
  }
  .culture_heritage_img{
    margin-right: 0px;
    margin-left: 0px;
 }
 .people_society__img img{
  margin-right: 0px;
  display: none
}
.some_of_the_features__items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 111px;
}
.some_of_the_features__item p{
  margin-bottom: 15px;
}
}
@media(max-width: 450px){
    .icon_container ul{
        column-gap: 15px;
    }
    .menu
    {
      width: 350px;
    }
    .about_contact__about{
      margin-right: 52px;
  }
  .logo_and_social_items__logo{
    margin-right: 15px;
  }
}
@media(max-width: 377px){
  .input_text_email{
    display: flex;
    justify-content: center;
  }
  .input_text_email input{
    width: 300px;
  }
  .input_text_f_name_l_name {
   justify-content: center;
}
.about_contact__about{
  margin-right: 32px;
}
}
@media(max-width: 320px){
  .icon_container ul{
    column-gap: 10px;
}
.menu
{
  width: 300px;
}
}