@import url("reset.css");
/*
 * header========================================Header===============header
 */
header{
    background-color: #fff;
}
.head__container{
    max-width: 1064px;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: auto;
}
.menu{
    display: flex;
    column-gap: 28px;
    align-items: center;
}
.menuToggle input,
.menuToggle input span{
    display: none;
}
.menu{
    display: flex;
}
.menu li{
    color: #1C1B1B;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
}
.icon_container ul{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.a__menu li:hover{
    color: tomato;
}
/*
 * Section =  FALL DEEPER  ========================================Header===============header
 */
 .fall_deeper {
    background-color: #F0EFEB;
}
.fall_deeper__container {
    max-width: 1216px;
    margin: auto;
    display: flex;   
}
.fall_deeper__text {
    padding-top: 90px;
    padding-bottom: 90px;
}
.fall_deeper__image {
    margin-top: 9px;
}
.fall_deeper__image img{
    display: block;
    width: 100%;
}
.fall_deeper__text h2{
color: #000;
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 42px;
}
.fall_deeper__text p{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 33px;
}
.fall_deeper__text a{
 color: #FFF;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 7px 23px 9px 23px;
border-radius: 100px;
border: 1px solid #000;
background: #000;
}
.fall_deeper__text a:hover{
    color: #000;
    background-color: #fff;
}
/*
 * Section =  GUIDES EXPLAIN========================================Header===============header
 */

.guides_explain {
    background-color: #fff;
}
.guides_explain__container {
    max-width: 1064px;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 88px;
}
.guides_explain__container h3{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 27px;
}
.guides_explain__container p{
color: #000;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 47px;
padding: 0px 15px;
}
/*
 * Section =  BEST SELLERS========================================Header===============header
 */

.best_sellers {
    background-color: #fff;
}
.best_sellers__container {
    max-width: 1124px;
    margin: auto;
    padding-bottom: 240px;
}
.best_sellers__h2{
    display: flex;
    justify-content: center;
    margin-bottom: 52px;
}
.best_sellers__h2 h2{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.best_sellers__items {
    display: flex;
    justify-content: space-between;
}
.best_sellers__item{
    text-align: center;
}
.best_sellers__item img{
    display: block;
    width: 100%;
    margin-bottom: 27px;
}
.best_sellers__item h4 {
    margin-bottom: 17px;
    color: #000;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.best_sellers__item p {
    margin-bottom: 10px;
    color: #000;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.best_sellers__item a{
    color: #000;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}
/*
 * Section =  PEOPLE SOCIETY========================================Header===============header
 */
.people_society {
    background-color: #CCCCCC4D;
}
.people_society__container {
    max-width: 1164px;
    margin: auto;
    display: flex;
    padding-top: 76px;
    padding-bottom: 51px;
}
.people_society__img{
    margin-right: 50px;
}
.people_society__img img {
    display: block;
}
.people_society__text {
    padding-right: 100px;
}
.people_society__text h3{
    color: #000;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 63px;
margin-bottom: 31px;
}
.people_society__text p {
    color: #000;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 40px;
}
.people_society__text a{
    color: #000;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}

/*
 * Section =  CULTURE HERITAGE========================================Header===============header
 */
 .culture_heritage{
    background-color: #CCCCCC99;
 }
 .culture_heritage_container{
    flex-direction: row-reverse;
 }
 .culture_heritage_img{
    padding-right: 100px;
    margin-bottom: 0;
 }
 .culture_heritage_text{
    padding-right: 0;
    margin-right: 50px;
 }
 /*
 * Section =  POWER POLITICS========================================Header===============header
 */
 .power_politics{
    background-color: #CCCCCC4D;
 }
