.best_sellers {
    background-color: #fff;
    .best_sellers__container {
        max-width: 1124px;
        margin: auto;
        padding-bottom: 240px;
        .best_sellers__h2{
            display: flex;
            justify-content: center;
            margin-bottom: 52px;
            h2{
                color: #000;
            text-align: center;
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            }
        }
        .best_sellers__items {
            display: flex;
            justify-content: space-between;
            .best_sellers__item{
                text-align: center;
                img{
                    margin-bottom: 27px;
                }
                h4 {
                    margin-bottom: 17px;
                    color: #000;
                font-family: Roboto;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                }
                p {
                    margin-bottom: 10px;
                    color: #000;
                font-family: Roboto;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                }
                a{
                    color: #000;
                font-family: Roboto;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: underline;
                }
            }
        }
    }
}